@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body > div {
  margin: 0px 50px 0 50px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header > div > img {
  width: 60px;
  height: 20px;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  margin: 0;
}

header > nav > ul > li > a {
  text-decoration: none;
  width: 175px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

header > div {
  display: flex;
  align-items: center;
}

header > nav > ul > li > a:hover,
header > nav > ul > li > a:active {
  border-top: 5px solid #0065fc;
  height: 90px;
  color: #0065fc;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

main > div > h2 {
  font-size: 1.3em;
  font-weight: 400;
}

main > div:nth-child(3) {
  display: flex;
}

main > div:nth-child(3) > div:nth-child(1) {
  background-color: #f2f2f2;
  padding: 10px 15px 10px 15px;
  border-radius: 10px 0 0 10px;
}

main > div > input {
  border: 1px solid #f2f2f2;
  padding-left: 15px;
}

input::placeholder {
  font-size: 1em;
  font-weight: 700;
  color: #000;
}

main > div > button {
  background-color: #0065fc;
  font-weight: 700;
  border: none;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
}

main > div > div#loupe {
  border-radius: 0px 10px 10px 0px;
  background-color: #0065fc;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
  display: none;
}

main > div > h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 25px;
}

main > div:nth-child(4) > div,
main > div:nth-child(4) {
  display: flex;
}

main > div:nth-child(4) {
  flex-wrap: wrap;
}

main > div:nth-child(4) {
  margin: 20px 0 20px 0;
}

main > div:nth-child(4) > div div {
  border: 2px solid #d9d9d9;
  padding: 15px;
  border-radius: 25px;
  width: 100%;
  text-align: center;
}

main > div:nth-child(4) > div div > i {
  color: #0065fc;
  margin-right: 5px;
}

main > div:nth-child(4) > div div > span {
  color: #000;
  font-size: 1.1em;
  font-weight: 700;
}

main > div:nth-child(4) > div a {
  text-decoration: none;
  margin-right: 50px;
}

main > div:nth-child(4) > div div:hover {
  background-color: #deebff;
  transition: all 1s ease-in-out;
}

main > div:nth-child(5) {
  display: flex;
  align-items: center;
}

main > div:nth-child(5) > h4 {
  margin: 0px;
  font-weight: 400;
}

main > div:nth-child(5) > div {
  border: 2px solid #d9d9d9;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  margin-right: 5px;
}

main > div:nth-child(5) > div > i {
  color: #0065fc;
}

section#Hébergements {
  width: 860px;
  margin-right: 20px;
  padding: 10px 20px 50px 30px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

aside {
  width: 420px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 25px;
}

section#Hébergements > div > a > article > img {
  width: 100%;
  height: 125px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

section#Hébergements > div,
main > div:nth-child(6) {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#Hébergements > div > a > article {
  background-color: #fff;
  margin-right: 15px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 2px 1px 8px 0px #ddd;
}

#Hébergements > div:nth-child(2) {
  margin-bottom: 50px;
}

section#Hébergements > div > a,
aside > div > a {
  text-decoration: none;
  color: #000;
  width: 33%;
}

p span {
  font-weight: 700;
}

.blue {
  color: #0065fc;
}

.grey {
  color: #f2f2f2;
}

section#Hébergements > h3 {
  margin: 50px 0 0 0;
}

section#Hébergements div > a > article > h3,
section#Hébergements div > a > article > p,
section#Hébergements div > a > article > div {
  margin: 0 0px 0 20px;
}

section#Hébergements div > a > article > h3 {
  padding: 20px 0 10px 0;
}

section#Hébergements div > a > article > div {
  padding: 10px 0 20px 0;
}

aside > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0 55px 0;
}

aside > div:nth-child(1) > h2 {
  margin: 10px 0 10px 0;
}

aside > div:nth-child(1) > div > i {
  color: #0065fc;
}

aside > div > a > article > img {
  width: 170px;
  height: 144px;
  object-fit: cover;
  border-radius: 20px 0px 0 20px;
}

aside > div > a > article {
  background-color: #fff;
  margin: 0 0 50px 0;
  display: flex;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 1px 8px 0px #ddd;
}

aside > div > a > article > div > div > h3,
aside > div > a > article > div > div > p {
  margin: 0 0 15px 0;
  font-size: 0.9em;
}

aside > div > a > article > div {
  padding: 5px;
}

aside > div > a > article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#Activités {
  display: flex;
  flex-direction: column;
}

section#Activités > div {
  display: flex;
  justify-content: center;
}

section#Activités > div > a > div > img {
  width: 305px;
  height: 380px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

section#Activités > div > a {
  text-decoration: none;
  color: #000;
  box-shadow: 2px 1px 8px 0px #ddd;
  border-radius: 20px;
  margin: 0 10px 0 0;
}

section#Activités > div > a > div > h3 {
  padding: 0 0 0 20px;
}

footer {
  background-color: #f2f2f2;
  margin: 30px 0 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0 20px 0px;
}

footer > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 30px;
}

footer > div > ul {
  list-style-type: none;
  padding: 0;
}

footer > div > ul > li > a {
  text-decoration: none;
  color: #000;
}

footer > div > ul > li > a {
  display: block;
  padding: 0 0 15px 0px;
}

@media all and (max-width: 992px) {
  main > div:nth-child(6) {
    flex-wrap: wrap;
  }
  aside {
    width: 100%;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
  }
  aside > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }
  section#Activités > div > a {
    display: block;
    width: 20%;
  }
  section#Activités > div > a:not(:last-child) {
    margin: 0 5% 0 0;
  }
  section#Activités > div > a > div > img {
    width: 100%;
    height: 195px;
  }
  body > div {
    margin: 0px 20px 0 20px;
  }
  aside > div:nth-child(1) > h2 {
    margin: 10px 0 15px 0;
  }
  section#Hébergements {
    width: 100%;
    margin-right: 0px;
  }
  aside > div > a > article {
    margin: 0 0 0px 0;
    width: 95%;
  }
  aside > div > a > article > img {
    width: 150px;
    height: 144px;
  }
  aside > div > a > article {
    margin: 0 0px 0px 0;
    width: 95%;
  }
  section#Hébergements > div {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 768px) {
  body > div {
    margin: 0;
  }
  section#Activités > div {
    flex-direction: column;
    align-items: center;
  }
  section#Activités > div > a {
    margin: 0 0 15px 0;
  }
  section#Activités > div > a {
    width: 90%;
  }
  footer {
    flex-wrap: wrap;
  }
  aside {
    padding: 10px;
  }
  main > div > button {
    display: none;
  }
  main > div > div#loupe {
    border-radius: 0px 10px 10px 0px;
    background-color: #0065fc;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
  }
  header > div {
    justify-content: center;
    width: 100%;
    padding: 20px 0 0 0;
  }
  nav {
    width: 100%;
  }
  header > nav > ul > li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #f2f2f2;
  }
  header > nav > ul > li:hover {
    border-bottom: 5px solid #0065fc;
  }
  header > nav > ul {
    padding: 0;
  }
  header > nav > ul > li > a:hover,
  header > nav > ul > li > a:active {
    border-top: unset;
    color: #0065fc;
  }
  section#Hébergements > div > a > article {
    width: 100%;
  }
  section#Hébergements {
    padding: 0px 0px 0px 0px;
    background-color: #fff;
  }
  section#Hébergements > div > a > article > img {
    width: 100%;
  }
  section#Hébergements > div > a {
    margin: 0 10px 20px 0;
    width: 90%;
  }
  #Hébergements > div:nth-child(2) {
    margin-bottom: 0px;
  }
  main > div:nth-child(6) {
    flex-direction: column-reverse;
  }
  aside {
    padding: 0px;
    border-radius: 0px;
  }
  aside > div:nth-child(2) {
    justify-content: center;
    align-items: center;
  }
  aside > div > a {
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
  section#Activités > div > a:not(:last-child) {
    margin: 0 0 25px 0;
  }
  section#Hébergements > div > a > article {
    margin-right: 0px;
  }
  section#Hébergements > h3 {
    display: none;
  }
  aside > div > a > article {
    margin: 0 10px 0px 15px;
    max-width: 90%;
  }
  main > div:nth-child(4) > div div > span {
    font-size: 0.8em;
  }
  body > div > main > div:nth-child(4) {
    display: grid;
    justify-content: start;
    align-items: center;
    align-content: center;
  }
  main > div:nth-child(4) > div div {
    width: 150px;
    text-align: unset;
  }
  main > div:nth-child(4) > div a {
    margin-right: 0px;
  }
  aside > div:nth-child(1) {
    margin: 0px 10px 55px 10px;
  }
}
