@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body > div {
  margin: 0px 50px 0 50px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header > div > img {
  width: 60px;
  height: 20px;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  margin: 0;
}

header > nav > ul > li > a {
  text-decoration: none;
  width: 175px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

header > div {
  display: flex;
  align-items: center;
}

header > nav > ul > li > a:hover,
header > nav > ul > li > a:active {
  border-top: 5px solid #0065fc;
  height: 90px;
  color: #0065fc;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

main > div > h2 {
  font-size: 1.3em;
  font-weight: 400;
}

main > div:nth-child(3) {
  display: flex;
}

main > div:nth-child(3) > div:nth-child(1) {
  background-color: #f2f2f2;
  padding: 10px 15px 10px 15px;
  border-radius: 10px 0 0 10px;
}

main > div > input {
  border: 1px solid #f2f2f2;
  padding-left: 15px;
}

input::placeholder {
  font-size: 1em;
  font-weight: 700;
  color: #000;
}

main > div > button {
  background-color: #0065fc;
  font-weight: 700;
  border: none;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
}

main > div > div#loupe {
  border-radius: 0px 10px 10px 0px;
  background-color: #0065fc;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
  display: none;
}

main > div > h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 25px;
}

main > div:nth-child(4) > div,
main > div:nth-child(4) {
  display: flex;
}

main > div:nth-child(4) {
  flex-wrap: wrap;
}

main > div:nth-child(4) {
  margin: 20px 0 20px 0;
}

main > div:nth-child(4) > div div {
  border: 2px solid #d9d9d9;
  padding: 15px;
  border-radius: 25px;
  width: 100%;
  text-align: center;
}

main > div:nth-child(4) > div div > i {
  color: #0065fc;
  margin-right: 5px;
}

main > div:nth-child(4) > div div > span {
  color: #000;
  font-size: 1.1em;
  font-weight: 700;
}

main > div:nth-child(4) > div a {
  text-decoration: none;
  margin-right: 50px;
}

main > div:nth-child(4) > div div:hover {
  background-color: #deebff;
  transition: all 1s ease-in-out;
}

main > div:nth-child(5) {
  display: flex;
  align-items: center;
}

main > div:nth-child(5) > h4 {
  margin: 0px;
  font-weight: 400;
}

main > div:nth-child(5) > div {
  border: 2px solid #d9d9d9;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  margin-right: 5px;
}

main > div:nth-child(5) > div > i {
  color: #0065fc;
}

section#Hébergements {
  width: 800px;
  margin-right: 80px;
  padding: 10px 20px 50px 30px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

aside {
  width: 420px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

section#Hébergements > div > a > article > img,
aside > a > article > img {
  width: 245px;
  height: 125px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

section#Hébergements > div,
main > div:nth-child(6) {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#Hébergements > div > a > article {
  background-color: #fff;
  margin-right: 15px;
  border-radius: 20px;
  padding: 5px;
}

#Hébergements > div:nth-child(2) {
  margin-bottom: 50px;
}

section#Hébergements > div > a,
aside > a {
  text-decoration: none;
  color: #000;
}

p span {
  font-weight: 700;
}

.blue {
  color: #0065fc;
}

.grey {
  color: #f2f2f2;
}

section#Hébergements > h3 {
  margin: 50px 0 0 0;
}

section#Hébergements div > a > article > h3,
section#Hébergements div > a > article > p,
section#Hébergements div > a > article > div {
  margin: 0 0px 0 20px;
  
}

section#Hébergements div > a > article > h3 {
 padding: 20px 0 10px 0;
}

section#Hébergements div > a > article > div {
  padding: 10px 0 20px 0;
}